<main class="p-5 bg-blue-400 h-screen">
    <h1 class="text-center text-4xl"> Página Informativa</h1>
    <div class="bg-blue-600 m-4">
        <ul class="text-white text-xl p-5">
            <li>Puerto: {{port}}</li>
            <li>Url de la base de datos: {{mongo}}</li>
            <li>Email configurado: {{email}}</li>
            <li>Tiempo de expiración de sesión: {{session}}miliseconds</li>
        </ul>
    </div>
</main>
{{footer}}